/** {
  border: 2px solid blue;
} Esto sirve para ver que todo en la web son cajas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Sirve para que las cosas se ajusten a su width y no hagan overflow o se desborden*/
}
.flexcontainer {
  display: flex;
}
body {
    color: rgb(156, 181, 234);
    background-color: rgb(31, 32, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1, h2 {
    font-family: 'Satisfy', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
  }
  h2::before { /*Para dejar un espacio invisible detrás de los elementos h2 para que al hacer click en el link no los tape */
    display: block; 
    content: " "; 
    margin-top: -60px; /*Este valor debe ser lo más cercano posible al tamaño del título para evitar problemas con otros elementos h2 más abajo*/
    height: 60px; 
    visibility: hidden; 
    pointer-events: none;
  } /*para evitar que el título fijo tape al header cuando hago click en el link de anchor*/
  h2 { /*títulos artículos*/
    display: table;
    text-align: center;
    border: 1px;
    padding: 5px;
    margin: 10px auto 1px auto; /*Esto es para centrar la tabla ya que text-align sólo centra el texto en la celda*/
    background-color: rgba(23, 23, 147, 0.176);
    box-sizing: border-box;/*Esto es para que height & width se tengan en cuenta como tamaño total del objeto, aunque 
    parece que esto se aplica para un elemento div genérico, no para header*/
    
  }
  .leftrightmenuYart {
    display: flex;
  }
  main { /*main contiene article*/
    margin-top: 60px; /*para que el título fijo no tape el fondo*/
    margin-left: 100px;
    margin-right: 100px;
}

  @media screen and (max-width: 600px) { /*Esto es para ocultar el menú derecho en dispositivos móviles o al hacer mucho zoom
    y para quitar el margen derecho también en el texto*/
    main {
      margin-right: 15px;
      margin-left: 45px;
    }
  }
    @media screen and (min-width: 1500px) {
  
      main {
        margin-left: 350px;
        margin-right: 350px;
        margin-top: 150px;
        font-size: xx-large;
      }
      h2::before {
        margin-top: -125px;
        height: 125px; 
      }
    }
  


  p {
    color: rgb(198, 199, 224);
    text-align: justify;
  }
  a {
    color: rgb(191, 227, 239);
  }
